.wrapper-canvas {
  border: 2px solid rebeccapurple;
  margin-right: 50px;
  padding: 20px;
  position: relative;
  cursor: crosshair;
}

.zone {
  fill: white;
  stroke: #4A90E2;
  stroke-width: 4;
}

.resize {
  fill: pink;
  stroke-width: 0;
  cursor: move;
  z-index: 10;
}

.box {
  fill: white;
  stroke: green;
  stroke-width: 4;
  width: 30px;
  height: 30px;
}